<h2>Register</h2>
<form name="form" (ngSubmit)="registerForm.form.valid && register()" #registerForm="ngForm" novalidate>
  <div>
    <label for="username">username: </label>
    <input type="text"
           id="username"
           name="username" [(ngModel)]="model.username"
           #username="ngModel" required/>
  </div>
  <div>
    <label for="password">password: </label>
    <input type="password"
           id="password"
           name="password" [(ngModel)]="model.password"
           #password="ngModel" required/>
  </div>
  <div>
    <button>Register</button>
  </div>
</form>
