<!-- le formulaire s'appelle carForm (variable) -->
<h2>Create</h2>
<form #carForm="ngForm" (ngSubmit)="onSubmit()">
  <div>{{message}}</div>
  <div>
    <label for="brand">brand: </label>
    <input type="text"
           name="brand"
           id="brand"
           minlength="3"
           required
           [(ngModel)]="car.brand">
  </div>
  <div>
    <label for="model">model: </label>
    <input type="text"
           name="model"
           id="model"
           minlength="3"
           required
           [(ngModel)]="car.model">
  </div>
  <button type="submit" [disabled]="!carForm.form.valid">submit</button>
</form>
